## Installing pandas library

In [90]:
%pip install pandas;
import pandas as pd;

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pandas in c:\users\welcome\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\welcome\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\welcome\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\welcome\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\welcome\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\welcome\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

### Reading existing CSV file

In [91]:
df = pd.read_csv("weather_data.csv")
df

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow
3  01-04-2017           24          7   Snow
4  01-05-2017           32          4   Rain
5  01-06-2017           31          2  Sunny

.shap for rows and columns

In [92]:
rows, columns =df.shape

In [93]:
rows

6

In [94]:
columns

4

In [95]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

# head

In [96]:
df.head() # first five rows

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow
3  01-04-2017           24          7   Snow
4  01-05-2017           32          4   Rain

In [97]:
df.head(3)  # first three rows

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow

# tail

In [98]:
df.tail() # last five rows

          day  temperature  windspeed  event
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow
3  01-04-2017           24          7   Snow
4  01-05-2017           32          4   Rain
5  01-06-2017           31          2  Sunny

In [99]:
df.tail(3) # last three rows

          day  temperature  windspeed  event
3  01-04-2017           24          7   Snow
4  01-05-2017           32          4   Rain
5  01-06-2017           31          2  Sunny

Doing slicing and then operating head function

In [100]:
df[0:4].head(2)

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny

inserting a NaN in middle of a series

In [101]:
import numpy as np
s = pd.DataFrame({'random':[1, 3, 5, np.nan, 6, 8],
              'random2':[1, 3, 5, np.nan, 6, 8]})
s

   random  random2
0     1.0      1.0
1     3.0      3.0
2     5.0      5.0
3     NaN      NaN
4     6.0      6.0
5     8.0      8.0

# Accessing a particular column name

In [102]:
df.day # or df['day']

0    01-01-2017
1    01-02-2017
2    01-03-2017
3    01-04-2017
4    01-05-2017
5    01-06-2017
Name: day, dtype: object

In [103]:
type(df.day)

pandas.core.series.Series

### printing specific columns

In [104]:
df[["day","event"]]

          day  event
0  01-01-2017   Rain
1  01-02-2017  Sunny
2  01-03-2017   Snow
3  01-04-2017   Snow
4  01-05-2017   Rain
5  01-06-2017  Sunny

# Max, Min and mean

## max

In [105]:
df['temperature'].max()

np.int64(35)

to print the whole row with max temperature

In [106]:
df[ df["temperature"]== df['temperature'].max()]

          day  temperature  windspeed  event
1  01-02-2017           35          7  Sunny

print just the day where the temperature was max

In [107]:
df['day'][ df["temperature"]== df['temperature'].max()]

1    01-02-2017
Name: day, dtype: object

In [108]:
df['temperature'].min()

np.int64(24)

In [109]:
df['temperature'].mean() # prints the average

np.float64(30.333333333333332)

# describe - prints statistics

In [110]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [111]:
df[df['temperature']>=32]

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
4  01-05-2017           32          4   Rain

# set_index - Index assignment to a column

To see the range of index

In [112]:
df.index

RangeIndex(start=0, stop=6, step=1)

To set another column as index

In [113]:
df.set_index('day', inplace=True)

without giving `inplace=true`, the `day` will not be set as index in the original dataframe.
> [NOTE] We can set any column as index regardless of it being unique or not.

In [114]:
df

            temperature  windspeed  event
day
01-01-2017           32          6   Rain
01-02-2017           35          7  Sunny
01-03-2017           28          2   Snow
01-04-2017           24          7   Snow
01-05-2017           32          4   Rain
01-06-2017           31          2  Sunny

In [115]:
df.loc["01-01-2017"]

temperature      32
windspeed         6
event          Rain
Name: 01-01-2017, dtype: object

In [116]:
df.reset_index(inplace=True)
df

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow
3  01-04-2017           24          7   Snow
4  01-05-2017           32          4   Rain
5  01-06-2017           31          2  Sunny

In [117]:
df.set_index('event', inplace=True)

In [118]:
df.loc['Sunny']

              day  temperature  windspeed
event
Sunny  01-02-2017           35          7
Sunny  01-06-2017           31          2

## reset_index

In [119]:
df.reset_index(inplace=True)

In [120]:
df

   event         day  temperature  windspeed
0   Rain  01-01-2017           32          6
1  Sunny  01-02-2017           35          7
2   Snow  01-03-2017           28          2
3   Snow  01-04-2017           24          7
4   Rain  01-05-2017           32          4
5  Sunny  01-06-2017           31          2

In [122]:
df.set_index('temperature',inplace=True)
df

             event         day  windspeed
temperature
32            Rain  01-01-2017          6
35           Sunny  01-02-2017          7
28            Snow  01-03-2017          2
24            Snow  01-04-2017          7
32            Rain  01-05-2017          4
31           Sunny  01-06-2017          2

In [123]:
df.reset_index(inplace=True)

In [124]:
df

   temperature  event         day  windspeed
0           32   Rain  01-01-2017          6
1           35  Sunny  01-02-2017          7
2           28   Snow  01-03-2017          2
3           24   Snow  01-04-2017          7
4           32   Rain  01-05-2017          4
5           31  Sunny  01-06-2017          2