## Installing pandas library

In [ ]:
%pip install pandas;
import pandas as pd;

### Reading existing CSV file

In [34]:
df = pd.read_csv("weather_data.csv")
df

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow
3  01-04-2017           24          7   Snow
4  01-05-2017           32          4   Rain
5  01-06-2017           31          2  Sunny

.shap for rows and columns

In [36]:
rows, columns =df.shape

In [37]:
rows

6

In [57]:
columns

4

In [58]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

### head

In [39]:
df.head() # first five rows

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow
3  01-04-2017           24          7   Snow
4  01-05-2017           32          4   Rain

In [40]:
df.head(3)  # first three rows

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow

### tail

In [41]:
df.tail() # last five rows

          day  temperature  windspeed  event
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow
3  01-04-2017           24          7   Snow
4  01-05-2017           32          4   Rain
5  01-06-2017           31          2  Sunny

In [42]:
df.tail(3) # last three rows

          day  temperature  windspeed  event
3  01-04-2017           24          7   Snow
4  01-05-2017           32          4   Rain
5  01-06-2017           31          2  Sunny

Doing slicing and then operating head function

In [48]:
df[0:4].head(2)

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny

inserting a NaN in middle of a series

In [72]:
import numpy as np
s = pd.DataFrame({'random':[1, 3, 5, np.nan, 6, 8],
              'random2':[1, 3, 5, np.nan, 6, 8]})
s

   random  random2
0     1.0      1.0
1     3.0      3.0
2     5.0      5.0
3     NaN      NaN
4     6.0      6.0
5     8.0      8.0

### Accessing a particular column name

In [61]:
df.day # or df['day']

0    01-01-2017
1    01-02-2017
2    01-03-2017
3    01-04-2017
4    01-05-2017
5    01-06-2017
Name: day, dtype: object

In [82]:
type(df.day)

pandas.core.series.Series